---
title: Services (Cars Ltd.)
---
<%= partial(
        "partial/noti/basic", 
        :locals => {
            :timer => 10, 
            :title => "Need More?", 
            :description => "We can answer your questions about our services, just call or email us.", 
            :phone => true, 
            :email => true,
            :find_us => true,
        }
) %>


<%= partial "partial/nav" %>

<div class="outside">

    <div class="os-header ext">
        <div class="overlay" style="background-image:url(./../images/services/header.jpg)"></div>
        <div class="text-hold">
            <h2 class="title">Services</h2>
        </div>
    </div>

    <div class="service-list">
            
        <div class="service">
            <div style="background-image:url(./../images/services/01.jpg)" class="img-preview"></div>
            <h2 class="header">Body work & paint</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/02.jpg)" class="img-preview"></div>
            <h2 class="header">Evaluations</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/03.jpg)" class="img-preview"></div>
            <h2 class="header">Computer Diagnostics</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/04.jpg)" class="img-preview"></div>
            <h2 class="header">Buffing/polishing</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/18.jpg)" class="img-preview"></div>
            <h2 class="header">Special Order Parts</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/05.jpg)" class="img-preview"></div>
            <h2 class="header">Air Conditioning</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/07.jpg)" class="img-preview"></div>
            <h2 class="header">Collision Repairs</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/08.jpg)" class="img-preview"></div>
            <h2 class="header">Headlamp restoration</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/09.jpg)" class="img-preview"></div>
            <h2 class="header">Vehicle Appraisals</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/10.jpg)"class="img-preview"></div>
            <h2 class="header">Pre Purchase Inspections</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/11.jpg)"class="img-preview"></div>
            <h2 class="header">Engine Mechanical</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/12.jpg)"class="img-preview"></div>
            <h2 class="header">Brakes</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/13.jpg)"class="img-preview"></div>
            <h2 class="header">Suspension</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/14.jpg)"class="img-preview"></div>
            <h2 class="header">Clutch/transmission/axles</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/15.jpg)"class="img-preview"></div>
            <h2 class="header">Car Sales</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/16.jpg)"class="img-preview"></div>
            <h2 class="header">Mufflers</h2>
        </div>

        <div class="service">
            <div style="background-image:url(./../images/services/17.jpg)"class="img-preview"></div>
            <h2 class="header">Licensing Services</h2>
        </div>

    </div>

</div>

<%= partial "partial/footer" %>