.repair-cont {
    float: left;
    width: 100%;
    text-align: center;

    .sec {
        .title {
            float: left;
            text-align: left;
            width: 100%;
            font-family: $main-font;
            color: $main-color;
            font-size: 2.15em;
            margin: 70px 0px 0px 0px;

            &.center {
                text-align: center;
            }
        }

        .description {
            float: left;
            text-align: left;
            width: 100%;
            font-family: $main-font;
            color: #222;
            font-size: 1em;
            margin: 30px 0px 70px 0px;
        }
    }

    .brief-message {
        float: left;
        width: 100%;

        .text-cont {
            float: left;
            width: 600px;
        }

        .icon-img {
            background-image: url(./../images/repair/on-road-01.png);
            background-position: center;
            background-size: contain;
            margin: 50px 75px 0px 0px;
            float: right;
            width: 250px;
            height: 250px;
        }
    }

    .before-after {
        float: left;
        margin-top: 70px;
        background-color: #efefef;
        padding: 60px 0px;

        .text-cont {
            float: right;
            width: 400px;

            .title, .description {
                text-align: right;
            }
            .title {
                margin-top: 70px;
            }

            .btn-holder {
                float: left;
                width: 100%;
                text-align: right;

                .call-btn {
                    display: inline-block;
                    text-decoration: none;
                    font-family: $main-font;
                    font-size: 1.1em;
                    color: #fff;
                    background-color: $main-color;
                    padding: 10px 28px;
                    border-radius: 3px;
                }
            }

        }

        .baa {
            background-color: #efefef;
            float: left;
            width: 188px;
            margin: 30px 20px 30px 20px;
            height: 188px;
            border-radius: 100%;
            position: relative;

            .pv {
                float: left;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 10;
                border-radius: 100%;
                background-position: center;
                background-size: cover;

                &.preview-01 {
                    background-color: #333;
                    z-index: 15;
                    border: 5px solid #efefef;
                    height: 55%;
                    width: 55%;
                    left: -30px;
                    top: -30px;
                }
                
            }

            &.baa-01 {
                .pv.preview-01 {
                    background-image: url(./../images/repair/baa-01-1.png);
                }
                .pv.preview-02 {
                    background-image: url(./../images/repair/baa-01-2.png);
                }
            }

            &.baa-02 {
                .pv.preview-01 {
                    background-image: url(./../images/repair/baa-02-1.png);
                }
                .pv.preview-02 {
                    background-image: url(./../images/repair/baa-02-2.png);
                }
            }

            &.baa-03 {
                .pv.preview-01 {
                    background-image: url(./../images/repair/baa-03-1.png);
                }
                .pv.preview-02 {
                    background-image: url(./../images/repair/baa-03-2.png);
                }
            }
        }
    }

    .insurance {
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
        
        .insurance-company-logo {
            display: inline-block;
            width: 180px;
            height: 180px;
            margin: 80px 18px 0px 18px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &.isl-01 {
                background-image: url(./../images/repair/insurance-logo-1.jpg);
            }

            &.isl-02 {
                background-image: url(./../images/repair/insurance-logo-2.png);
            }

            &.isl-03 {
                background-image: url(./../images/repair/insurance-logo-3.jpg);
            }

            &.isl-04 {
                background-image: url(./../images/repair/insurance-logo-4.png);
            }
            
            &.isl-05 {
                background-image: url(./../images/repair/insurance-logo-5.jpg);
            }
        }

    }

    .todo-list {
        float: left;
        background-color: $main-color;
        
        .icon-img {
            margin: 40px 0px 0px 0px;
            float: right;
            width: 300px;
            height: 300px;

            img {
                float: left;
                width: 230px;
                height: 230px;
                margin: 35px;
            }
        }

        .text-cont {
            float: left;
            width: 800px;

            .title, .description {
                text-align: left;
                color: #fff;
            }
            .description {
                margin-bottom: 30px;
            }

            ol {
                float: left;
                text-align: left;
                margin: 0px 0px 30px 0px;
                color: #fff;
                width: 100%;

                li {
                    margin: 0px;
                    color:inherit;
                    font-family: $main-font;

                    p {
                        font-size: 1em;
                        margin: 12px 0px;
                        color:inherit;
                        
                    }
                }
            }
        }

    }
}