.brands-screen {
    background-color: #eee;
}

.brands-screen .content {
    margin: 0px;
    width: 100vw;
    min-width: 1100px;

    & .header-02 {
        color: #4B4D4D;
        text-align: center;
    }

    & .brand-list {
        float: left;
        width: calc(100% - 100px);
        min-width: 1000px;
        margin: 0px 50px 80px 50px;
        text-align: center;


        & .brand {
            display: inline-block;
            width: 200px;
            height: 200px;
            margin-left: 50px;

            & img {
                opacity: .7;
                float: left;
                margin: 40px;
                width: 120px;
                height: 120px;

            }

            &:hover {
                border-radius: 100%;
                background-color: #ddd;
            }
        }
    }

}