.footer-screen {
    background-color: #05274F
}

.footer-screen .content {
    & .footer-text {
        float: right;
        width: 300px;
        margin-left: calc(100% - 300px);
        text-align: right;
        color: #4F6783;
        font-family: $main-font;
        font-size: .85em;

        & a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        &:first-of-type {
            margin-top: 40px;
            border-bottom: 1px solid #113157;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        &:last-of-type {
            margin-top: 0px;
            margin-bottom: 40px;
        }

    }
}