.header-screen {
    position: relative;
    height: 500px;
}

.header-screen .slideshow {
    position: absolute;
    z-index: -1;
    float: left;
    width: 100%;
    height: 100%;
    overflow: scroll;

    & .slide {
        background-color: $main-color;
        position: absolute;
        top: 0px;
        left: 0px;
        float: left;
        width: 100%;
        height: 100%;
        background-image: url(./../images/header/01.jpg);
        background-position: center;
        background-size: cover;

        &:nth-child(2) {
            background-image: url(./../images/header/02.jpg);
            left: calc(100vw * 1);
        }

        &:nth-child(3) {
            background-image: url(./../images/header/03.jpg);
            left: calc(100vw * 2);
        }

        &:nth-child(4) {
            background-image: url(./../images/header/04.jpg);
            left: calc(100vw * 3);
        }

        &:nth-child(5) {
            background-image: url(./../images/header/05.jpg);
            left: calc(100vw * 4);
        }

        &:nth-child(6) {
            background-image: url(./../images/header/06.jpg);
            left: calc(100vw * 5);
        }


        
    }
}

/* MAIN NAV */
.header-screen .nav-main {
    display: block;
    height: auto;
    min-height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header-screen .nav-main .logo {

    float: left;
    width: auto;
    height: 80px;
}

.header-screen .nav-main .logo img {
    float:left;
    margin: 15px;
    height: calc(100% - 30px);
    width: auto;
}

.header-screen .nav-main .nav-links {
    float: right;
    min-width: 400px;
    height: 80px;
}

.header-screen .nav-main .nav-links .link {
    float: left;
    height: 100%;
}

.header-screen .nav-main .nav-links .link a {
    font-family: $main-font;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    line-height: 80px;
    padding: 0px 25px;
}

.adpat-nav {
    background-color: $main-color;
    height: 100px;

    & .nav-main {
        margin-top: 10px;
    }
}