body {
    background-color: $main-color;
    margin: 0px;
}

h2, p {
    font-family: $font-family;
}

/* iOS safari turns phone numbers into links automaticlly, here the fix */
a {
    color: #fff;
    text-decoration: none;
}