.mobile {
    display: none;
}
@media only screen and (max-width: 700px) {

    .mobile { display: block; }

    body,
    .screen {
        overflow-x: hidden;
        min-width: auto;

        & .content {
            width: 100%;
            min-width: auto;
            
            & .header-01 {
                text-align: center;
            }

            & .header-02 span.ln {
                display: none;
            }
            & .header-02 span.bk {
                padding: 0px;
            }

            & .header-02 {
                width: calc(100% - 100px);
                margin-left: 50px;
                margin-right: 50px;
            }

            & .header-text {
                margin-left: 0px;
                width: 100%;
                margin-right: 0px;
                font-size: 1.05em;
            }
        }
    }

    /* HEADER */
    .header-screen {

        height: auto;

        & .nav-main {

            margin-bottom: 50px;

            & .logo {
                height: auto;
                width: calc(100vw - 150px);
                margin-left: 75px;
                margin-right: 75px;
            }

            & .nav-links {
                display: none;
            }
        }
    }

    /* WELCOME */
    .welcome-screen {
        & .side-cont {
            width: 100%;

            & .header-01 {
                width: calc(100% - 100px);
                margin-left: 50px;
                margin-right: 50px;
                text-align: left;
            }

            & .option {
                width: 100%;
                margin-bottom: 0px;

                &:nth-child(3) {
                    margin-left: 0px;
                    margin-right: 0px;
                }

                &:last-of-type {
                    margin-bottom: 70px;
                }

                & .icon-hold {
                    width: 130px;
                    height: 130px;
                    margin-left: calc(50% - 65px);
                }

                & .title {
                    text-align: center;
                    font-size: 1.8em;
                }
                & .description {
                    width: calc(100% - 100px);
                    margin-left: 50px;
                    margin-right: 50px;
                    font-size: 1.05em;
                }
            }

            &.small {
                display: none;
            }
        }

        & .social-links {

            width: 270px;
            padding: 0px;
            border: none;

            & .text {
                font-weight: 700;
                font-size: 1.5em;
            }

            & a {
                width: 70px;
                height: 70px;

                &:nth-child(3) {
                    margin: 0px 18px;
                }

                & img {
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                }
            }
        }
    }

    /* SERVICE */
    .services-screen {
        & .content {

            & .header-text {
                width: calc(100% - 100px);
                margin-left: 50px;
                margin-right: 50px;
            }

            & .service-list {

                margin-bottom: 0px;

                & .service {
                    width: calc(100% - 100px);
                    margin-left: 50px;
                    margin-right: 50px;

                    & .img-preview {
                        height: 170px;
                        
                    }

                    & .header {
                        font-size: 1.5em;
                    }

                    & .text {
                        width: 100%;
                        font-size: 1.05em;
                    }

                }

                & .more-btn {
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    font-size: 1.3em;
                    margin-left:auto;
                    margin-right: auto;
                    margin-bottom: 0px;
                }
            }
        }
    }

    /* BRANDS */
    .brands-screen {
        & .content .brand-list {
            min-width: auto;

            & .brand {
                margin: 0px;
            }
        }
    }

    /* TESTIMONY */
    .testimony-screen {
        & .content {

            & .testimony-list {
                width: 100vw;
                margin-left: auto;
                margin-right: auto;

                & .testi {
                    margin: 0px;
                    width: calc(100% - 60px);
                    margin: 0px 30px;

                    & .profile-text {
                        font-size: 1.5em;
                    }

                    & .text {
                        font-size: 1.05em;
                    }
                }
            }
        }
    }

    /* NEWSLETTER */
    .newsletter-screen {
        & .content {

            & .header-text {
                width: calc(100% - 100px);
                margin-left: 50px;
                margin-right: 50px;
            }

            & .subscribe-box {
                float: left;
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                border-radius: 0px;
                height: 60px;
                & [type] {
                    font-size: 1.2em;
                }
            }
        }
    }

    /* FOOTER*/
    .footer-screen {
        & .content {
            & .footer-text {
                text-align: center;
                width: 100%;
                margin-left: 0px;
                font-size: .96em;
            }
        }
    } 
}