.newsletter-screen {
    background-color: $main-color;
    position: relative;
}

.newsletter-screen .bg {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    z-index: -1;

    &.bg-overlay {
        background-color: $main-color;
        opacity: 0.63;
    }

    &.bg-wallpaper {
        z-index: -2;
        background-image: url(./../images/newsletter/bg.jpg);
        background-position: center;
        background-size: cover;
    }

}

.newsletter-screen .content {
    & .header-02,
    & .header-text {
        color: #fff;
    }

    & .subscribe-box {
        float: left;
        width: 450px;
        height: 40px;
        background-color: #fff;
        margin-top: 30px;
        margin-bottom: 80px;
        margin-left: calc(50% - 225px);
        margin-right: calc(50% - 225px);
        border-radius: 3px;

        & [type=email] {
            float: left;
            outline: 0px;
            width: calc(100% - 150px);
            height: 100%;
            padding: 0px 25px;
            border: 0px solid transparent;
            background-color: transparent;
            color: $main-color;
            font-size: 1em;
            font-weight: 400;
            font-family: $main-font;
        }

        & [type=submit] {
            float: left;
            width: 100px;
            height: 100%;
            border: 0px solid transparent;
            background-color: transparent;
            font-size: 1em;
            color: $main-color;
            font-family: $main-font;
            font-size: 400;
            opacity: .7;
            cursor: pointer;

            &:hover { opacity: 1; }
        }
    }
}