@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Courgette');

$main-color: #073870;
$dark-color: #333333;
$font-family: 'Roboto', sans-serif;

@import "main";
@import "cs";