@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$main-font: 'Lato', sans-serif;
$main-color: #073870;

$text-color: #61657F;
$header-color: #333;


@import "main";
@import "header";
@import "welcome";
@import "services";
@import "brands";
@import "testimony";
@import "newsletter";
@import "footer";

@import "mobile";

@import "outside";
@import "outside/meettheteam";
@import "outside/services";
@import "outside/cars";
@import "outside/repair";


@import "noti/basic";
