<div class="screen brands-screen">

    <div class="content">

        <h2 class="header-02">Brands We Work With</h2>

        <div class="brand-list">
            
            <div class="brand">
                <img src="./images/brands/honda-01.png" />
            </div>

            <div class="brand">
                <img src="./images/brands/jeep-01.png" />
            </div>

            <div class="brand">
                <img src="./images/brands/nissan-01.png" />
            </div>

            <div class="brand">
                <img src="./images/brands/toyota-01.png" />
            </div>

            <div class="brand">
                <img src="./images/brands/vw-01.png" />
            </div>

        </div>

    </div>

</div>