<footer class="screen footer-screen">

    <div class="content">
        <p class="footer-text">Cars Ltd. © 2017 </p>
        <p class="footer-text">Created by <a href="http://designerlas.com">Designer Las</a></p>
    </div>

</div>