<header class="screen header-screen">

    <div id="header-ss" class="slideshow">
        <div class="slide"></div>
    </div>

    <nav class="nav-main content">

        <div class="logo">
            <img src="./images/logo.svg" />
        </div>

        <div class="nav-links">
            <div class="link"><a href=".">Home</a></div>
            <div class="link"><a href="./services">Services</a></div>
        </div>
    </nav>

</header>