<div id="mc_embed_signup" class="screen newsletter-screen">

    <div class="bg bg-overlay"></div>
    <div class="bg bg-wallpaper"></div>

    <form class="content" action="//designerlas.us15.list-manage.com/subscribe/post?u=83935b21a8e870792585178a7&amp;id=dc2c494b84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2 class="header-02">Subscribe to our mailing list</h2>
        <p class="header-text">Keep up to date when we have upcoming sales, new cars and specials more...</p>
        <div class="subscribe-box">
            <input type="email" value="" name="EMAIL" placeholder="Enter Your Email Address" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83935b21a8e870792585178a7_dc2c494b84" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>
