<div class="screen services-screen">

    <div class="content">

        <h2 class="header-02">
            <span class="bk">Services</span>
            <span class="ln"></span>
        </h2>

        <p class="header-text"></p>


        <div class="service-list">
            
            <div class="service">
                <div style="background-image:url(./images/services/01.jpg)"class="img-preview"></div>
                <h2 class="header">Body work & paint</h2>
            </div>

            <div class="service">
                <div style="background-image:url(./images/services/02.jpg)"class="img-preview"></div>
                <h2 class="header">Evaluations</h2>
            </div>

            <div class="service">
                <div style="background-image:url(./images/services/03.jpg)"class="img-preview"></div>
                <h2 class="header">Computer Diagnostics</h2>
            </div>

            <div class="service">
                <div style="background-image:url(./images/services/04.jpg)"class="img-preview"></div>
                <h2 class="header">Buffing/polishing</h2>
            </div>

            <div class="service">
                <div style="background-image:url(./images/services/18.jpg)"class="img-preview"></div>
                <h2 class="header">Special Order Parts</h2>
            </div>

            <div class="service">
                <div style="background-image:url(./images/services/05.jpg)"class="img-preview"></div>
                <h2 class="header">Air Conditioning</h2>
            </div>

            <a class="more-btn" href="./services">More Services</a>

        </div>

    </div>

</div>