<div class="screen testimony-screen">

    <div class="content">

        <h2 class="header-02"> 
            <span class="bk">
                <span class="bk">
                    Customer Testimonies
                </span>
                <span class="ln lf"></span>
            </span> 
        </h2>

        <div class="testimony-list">
            <div class="quote-icon"></div>
            <div class="testi">
                <div class="profile" style="background-image:url(./images/testimonies/01.jpeg)"></div>
                <p class="profile-text"><b>John Smith</b>, Sales Broker</p>
                <p class="text">
                    Lorem ipsum dolor sit amet, sale probo eam cu, odio natum forensibus eos ut. Nemore reformidans sit ea. Nec vero ipsum aeterno ea, at dolore constituam vim, diam prompta no sed. Oportere consetetur cu eos, nihil causae invenire ei est, te pro nostrud qualisque definiebas. Quo postea recusabo ne.
                </p>
            </div>
            <div class="tab-nav">
                <div class="tab active"></div>
                <div class="tab"></div>
                <div class="tab"></div>
            </div>
        </div>

    </div>

</div>