<div class="screen welcome-screen">

    <div class="nav-main content">

        <div class="side-cont">
            <h2 class="header-01">What Can We Do For You?</h2>

            <div class="option">
                <div class="icon-hold">
                    <img src="./images/welcome/car-sale-01.png" />
                </div>
                <h2 class="title">Car Sales</h2>
            </div>

            <div class="option">
                <div class="icon-hold">
                    <img src="./images/welcome/service-01.png" />
                </div>
                <h2 class="title">Car Service</h2>
            </div>

            <div class="option">
                <div class="icon-hold">
                    <img src="./images/welcome/repair-01.png" />
                </div>
                <h2 class="title">Auto Repair</h2>
            </div>

        </div>

        <div class="side-cont small">
            
            <div class="store-status open">
                
                <div class="cont open">
                    <p class="main-text"></p>
                    <p class="main-text big">Visit Us</p>

                    <p class="info-block top"></p>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1818.341881639001!2d-81.37310131754906!3d19.29618055821114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDE3JzQ2LjIiTiA4McKwMjInMTkuMiJX!5e1!3m2!1sen!2sus!4v1490563256031"></iframe>
                    <p class="info-block btm">
                        Or Call <br /><b>(345) 949-7135</b>
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>