<div class="cs">

    <div class="content">
        
        <div class="row">
            <div class="logo">
                <img src="./images/logo.svg" />
            </div>
        </div>
        <div class="row">
            <h2 class="text big-text">Website Coming Soon</h2>
        </div>
        <div class="row">
            <div class="ico ico-location"></div>
            <a target="_blank" href="https://www.google.com/maps/place/139+N+Sound+Rd,+George+Town+KY1-1003,+Cayman+Islands/@19.2969675,-81.3736618,17z/data=!3m1!4b1!4m5!3m4!1s0x8f258643144f6815:0x234b0776d52c4053!8m2!3d19.2969675!4d-81.3714731" class="text info-block">
               117 N Sound Rd. Grand Cayman KY1-1105, Cayman Islands
            </a>
        </div>
        <div class="row">
            <div class="ico ico-phone"></div>
            <p class="text info-block">(345) 949-7135</p>
        </div>
        <div class="row">
            <div class="ico ico-email"></div>
            <p class="text info-block">info@carsltd.ky</p>
        </div>
        <div class="row">
            <div class="ico ico-fax"></div>
            <p class="text info-block">(345) 945-7353</p>
        </div>

        <div class="row row-subscription">
            <p class="text small-text notification-text">We'll let you know when Cars Ltd Website is up...</p>
            <div class="sub-box">
                <input placeholder="your@email.com"type="text" name="subscriber-email" />
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83935b21a8e870792585178a7_dc2c494b84" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" />
            </div>
        </div>
        <div class="row row-footer">
            <p class="footer-text">&copy; 2017-2018 Cars Ltd.</p>
            <p class="footer-text">Designed by <a href="http://designerlas.com/">Designer Las</a></p>
        </div>

    </div>

    <div class="background">
    </div>

</div>
